*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid yellow; */
}

div {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  /* height: 100%; */
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.container {
  width: 1170px;
  min-height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  /* height: 100%; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: dimgray;
  overflow: hidden;
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu__logo {
  flex: 0 0 auto;
}

.logo__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: white;
  padding-left: 45px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  background-size: 40px 40px;
}

.logo__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo__subtitle {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* list-style: none; */
  padding: 0;
}

.menu__list--left {
  flex: 1 1 auto;
}

.menu__list--right {
  flex: 0 0 auto;
}

.menu__item {
  list-style: none;
  padding-left: 20px;
}

.menu__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.disable {
  display: none;
}

.main {
  display: none;
}

.main.active {
  flex: 1 0 auto;
  display: block;
  padding: 65px 0 15px 0;
  min-height: 100%;
}

.content {
  width: 100%;
  /* height: 100%; */
  padding: 5px;
  /* background-color: cornsilk; */
}

.suptitle {
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  padding: 5px;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

.about__column {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.about__row {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.border {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.about__text {
  flex: 1 1 auto;
}

.about__text > p {
  margin: 0;
  padding: 10px 20px;
  text-align: justify;
}

.about__pic {
  margin: 5px;
  height: 200px;
  /* border: 1px solid black; */
  width: min-content;
}

.about__pic > img {
  max-height: 100%;
  object-fit: cover;
}

.catalog__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.catalog__search {
  flex: 0 0 auto;
  width: 150px;
  /* position: relative; */
}

.search__block {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  border-left: 1px solid lightblue;
}
.search__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.form__row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.form__label {
  padding: 3px 0 0 5px;
  font-size: 0.825rem;
}

.form__input {
  width: 100%;
  font-family: inherit;
}

.form__button {
  margin-top: 18px;
  width: 100%;
}

.excurs {
  flex: 1 1 auto;
  height: 100%;
  padding: 5px;
}

.excurs__title {
  padding: 10px 0 5px 10px;
}

.excurs__list {
  padding: 0;
  margin: 0;
}

.excurs__list.found > .excurs__item {
  border: 1px solid lightblue;
}

.excurs__list.offer > .excurs__item {
  border: 1px solid lightcoral;
}

.excurs__item {
  list-style: none;
  height: 150px;
  width: 100%;
  padding: 5px;
}

.excurs__block {
  height: 100%;
  width: 100%;
  display: flex;
}

.excurs__pic {
  flex: 0 0 auto;
  height: 100%;
  width: 200px;
}

.excurs__pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.excurs__route {
  flex: 0 0 auto;
  height: 100%;
  width: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 5px;
  margin: 0;
  border-right: 1px solid lightblue;
}

.excurs__route::-webkit-scrollbar {
  display: none;
}

.route__point {
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.excurs__column {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 5px;
}

.excurs__row {
  flex: 0 0 auto;
  width: 100%;
  /* padding: 5px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.excurs__description {
  flex: 1 1 auto;
  width: 100%;
}

.excurs__description > p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.footer {
  flex: 0 0 auto;
  height: 50px;
  background-color: dimgray;
  z-index: 99;
}

.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
