@import "custom";
@import "~bootstrap/scss/bootstrap";

$border: 1px solid rgb(33, 30, 243);

.card {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;

  h2 {
    text-align: center;
    color: darkred;
  }
}
